<a href="javascript:void(0)" title="{{ _('Ngrok Tunnel')|edq }}" class="dropdown-toggle" data-toggle="dropdown">
    <i data-bind="css: (tunnelName() == '') ? 'fa fa-times-circle-o' : 'fa fa-globe'"></i>
    <b class="caret"></b>
</a>
<ul class="dropdown-menu">
	<li data-bind="
		css: (tunnelName() == '') ? 'disabled' : '',
		visible: $root.loginState.hasPermissionKo($root.access.permissions.PLUGIN_NGROK_VIEW)
	"><a target="_blank" data-bind="
		attr: { href: (tunnelName() != '') ? 'https://'+tunnelName() : 'javascript:void(0)'},
		text: (tunnelName() != '') ? tunnelName() : _('[tunnel not connected]'),
		click: function() { return tunnelName() != '' }
	"></a></li>
	<li data-bind="
		css: (tunnelName() == '') ? 'disabled' : '',
		visible: $root.loginState.hasPermissionKo($root.access.permissions.PLUGIN_NGROK_VIEW)
	"><div id="ngrok_qrcode" data-bind="visible: settings.settings.plugins.ngrok.show_qr_code() && tunnelName() != ''"></div></li>
	<li data-bind="visible: $root.loginState.hasPermissionKo($root.access.permissions.PLUGIN_NGROK_CONTROL)">
		<a href="javascript:void(0)" data-bind="
			text: (tunnelName() != '') ? _('Close tunnel') : _('Create tunnel'),
			click: function() { if (tunnelName() != '') { closeTunnel(); } else { connectTunnel(); } }
		"></a>
	</li>

	<li data-bind="visible: $root.loginState.hasPermissionKo($root.access.permissions.SETTINGS)" class="divider"></li>
	<li data-bind="visible: $root.loginState.hasPermissionKo($root.access.permissions.SETTINGS)">
		<a href="https://dashboard.ngrok.com/" target="_blank">{{ _('ngrok dashboard...') }}</a></li>
	<li data-bind="visible: $root.loginState.hasPermissionKo($root.access.permissions.SETTINGS)">
		<a href="javascript:void(0)" data-bind="click: showTunnelSettings;">{{ _('Tunnel settings...') }}</a>
	</li>
</ul>
