<form class="form-horizontal" id="settings_plugin_ngrok_form">
	<fieldset id="settings_plugin_ngrok_tunnel">
		<h3>{{ _('Tunnel status') }}</h3>
		<div class="control-group" data-bind="visible: (tunnelName() != '')">
			<label class="control-label" for="settings_plugin_ngrok_tunnel_address">{{ _('Address') }}</label>
			<div class="controls">
				<span class="input-append">
					<input type="text" class="input" readonly="readonly" style="cursor:text" id="settings_plugin_ngrok_tunnel_address" data-bind="
						value: (tunnelName() != '') ? 'https://' + tunnelName() : _('[tunnel not connected]'),
						click: function() { $('#settings_plugin_ngrok_tunnel_address').select(); }
					" />
					<a class="btn" title="{{ _('Visit tunnel') }}" target="_blank" data-bind="
						attr: { href: (tunnelName() != '') ? 'https://' + tunnelName() : '' }
					">
						<i class="fa fa-link"></i>
					</a>
					<button class="btn btn-danger" type="button" data-bind="click: closeTunnel">{{ _('Close') }}</button>
				</span>
				<span class="help-inline">{{ _('You can also find the address of the ngrok tunnel in the <a href="%%(dashboard_url)s" target="_blank">
					ngrok dashboard</a>.')|format(dashboard_url="https://dashboard.ngrok.com/cloud-edge/endpoints") }}</span>
			</div>
		</div>
		<div class="control-group" data-bind="visible: (tunnelName() == '')">
			<div class="controls">
				<button class="btn" type="button" data-bind="click: connectTunnel">{{ _('Create tunnel') }}</button>
			</div>
		</div>

		<h3>{{ _('Ngrok Settings') }}</h3>
		<div class="control-group" data-bind="css:{error: tokenIsEmpty()}">
			<label class="control-label" for="settings_plugin_ngrok_token">{{ _('Auth Token') }}</label>
			<div class="controls">
				<span class="input">
					<input type="text" class="input input-xlarge" id="settings_plugin_ngrok_token" required="required"
						data-bind="value: settings.settings.plugins.ngrok.token" />
				</span>
				<span class="help-inline">{{ _('The auth token can be found in the <a href="%%(dashboard_url)s" target="_blank">
					ngrok dashboard</a>.')|format(dashboard_url="https://dashboard.ngrok.com/get-started/your-authtoken") }}</span>
			</div>
		</div>

		<div class="control-group" data-bind="css:{error: nameIsEmpty()}">
			<label class="control-label" for="settings_plugin_ngrok_auth_name">{{ _('Username') }}</label>
			<div class="controls">
				<span class="input">
					<input type="text" class="input" id="settings_plugin_ngrok_auth_name" required="required"
						data-bind="value: settings.settings.plugins.ngrok.auth_name" />
				</span>
			</div>
		</div>
		<div class="control-group" data-bind="css:{error: passIsEmpty()}">
			<label class="control-label" for="settings_plugin_ngrok_auth_pass">{{ _('Password') }}</label>
			<div class="controls">
				<span class="input">
					<input type="password" class="input" id="settings_plugin_ngrok_auth_pass" required="required"
						data-bind="value: settings.settings.plugins.ngrok.auth_pass" />
				</span>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.ngrok.trust_basic_authentication"> {{ _('Use these credentials to log in to OctoPrint.') }}
				</label>
				<span class="help-inline">{{ _('It is not recommended to use this option with credentials for an admin account.') }}</span>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.ngrok.use_oauth"> {{ _('Use OAuth') }}
				</label>
				<span class="help-inline">{{ _('Use this option to configure advanced authentication methods.') }} <a href="https://ngrok.com/docs/http/oauth/" target="_blank">ngrok docs</a></span>
			</div>
		</div>

		<div class="control-group" data-bind="visible:settings.settings.plugins.ngrok.use_oauth">
			<label class="control-label" for="settings_plugin_ngrok_oauth_provider">{{ _('OAuth Provider') }}</label>
			<div class="controls">
				<span class="input">
					<input type="text" class="input" id="settings_plugin_ngrok_oauth_provider" data-bind="value: settings.settings.plugins.ngrok.oauth_provider" />
				</span>
			</div>
		</div>

		<div class="control-group" data-bind="visible:settings.settings.plugins.ngrok.use_oauth">
			<label class="control-label" for="settings_plugin_ngrok_oauth_allow_domains">{{ _('Allowed Domains') }}</label>
			<div class="controls">
				<span class="input-append">
					<input type="text" class="input" id="settings_plugin_ngrok_oauth_allow_domains" />
					<button class="btn btn-primary" type="button" data-bind="click: addAllowedDomain"><i class="fas fa-plus"></i></button>
				</span>
				<div class="row-fluid allowed-domains" data-bind="foreach: settings.settings.plugins.ngrok.oauth_allow_domains">
					<div class="row-fluid">
						<div class="span10" data-bind="text: $data"></div><div class="span2"><button class="btn btn-danger" type="button" data-bind="click: $root.removeAllowedDomain"><i class="far fa-trash-alt"></i></button></div>
					</div>
				</div>
			</div>
		</div>

		<div class="control-group" data-bind="visible:settings.settings.plugins.ngrok.use_oauth">
			<label class="control-label" for="settings_plugin_ngrok_oauth_allow_emails">{{ _('Allowed Emails') }}</label>
			<div class="controls">
				<span class="input-append">
					<input type="text" class="input" id="settings_plugin_ngrok_oauth_allow_emails" />
					<button class="btn btn-primary" type="button" data-bind="click: addAllowedEmail"><i class="fas fa-plus"></i></button>
				</span>
				<div class="row-fluid allowed-emails" data-bind="foreach: settings.settings.plugins.ngrok.oauth_allow_emails">
					<div class="row-fluid">
						<span class="input-append">
							<input type="text" class="input" data-bind="value: $data" readonly />
							<button class="btn btn-danger" type="button" data-bind="click: $root.removeAllowedEmail"><i class="far fa-trash-alt"></i></button>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="control-group">
			<label class="control-label" for="settings_plugin_ngrok_port">{{ _('Local port') }}</label>
			<div class="controls">
				<span class="input">
					<input type="number" min="1" max="65535"
					class="input" id="settings_plugin_ngrok_port" required="required"
					data-bind="value: settings.settings.plugins.ngrok.port" />
				</span>
			</div>
		</div>


		<div class="control-group">
			<label class="control-label" for="settings_plugin_ngrok_region">{{ _('Region') }}</label>
			<div class="controls">
				<select id="settings_plugin_ngrok_region" data-bind="value: settings.settings.plugins.ngrok.region">
					<option value="us">United States</option>
					<option value="eu">Europe</option>
					<option value="ap">Asia/Pacific</option>
					<option value="au">Australia</option>
					<option value="sa">South America</option>
					<option value="jp">Japan</option>
					<option value="in">India</option>
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="settings_plugin_ngrok_subdomain">{{ _('Custom subdomain') }}</label>
			<div class="controls">
				<span class="input">
					<input type="text" class="input" id="settings_plugin_ngrok_subdomain" data-bind="value: settings.settings.plugins.ngrok.subdomain" />
				</span>
				<span class="badge badge-info" title="{{ _('A \'basic\' or better subscription is required for this feature')|edq }}">basic</span>
				<span class="help-inline">{{ _('Use a custom subdomain instead of the randomly generated subdomain.') }}</span>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="settings_plugin_ngrok_hostname">{{ _('Custom domain') }}</label>
			<div class="controls">
				<span class="input">
					<input type="text" class="input" id="settings_plugin_ngrok_subdomain" data-bind="value: settings.settings.plugins.ngrok.hostname" />
				</span>
				<span class="help-inline">
					{{ _('Use a custom domain instead of ngrok.io. <a href="%%(docs_url)s" target="_blank">Additional
						configuration</a> required.')|format(docs_url="https://ngrok.com/docs#http-custom-domains") }}<br>
					{{ _('Use your provided single static domain here with the free account, otherwise this feature requires an upgraded subscription.') }}
				</span>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.ngrok.auto_connect"> {{ _('Create a tunnel when OctoPrint starts') }}
				</label>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.ngrok.disable_local_ip_check"> {{ _('Hide external access warning.') }}
				</label>
			</div>
		</div>

		<div class="control-group">
			<div class="controls">
				<label class="checkbox">
					<input type="checkbox" data-bind="checked: settings.settings.plugins.ngrok.show_qr_code"> {{ _('Show QR Code.') }}
				</label>
			</div>
		</div>
	</fieldset>
</form>
